################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/LearningC
MultiThread/x64/Debug/MultiThread.exe.recipe
MultiThread/x64/Debug/MultiThread.ilk
MultiThread/x64/Debug/MultiThread.log
MultiThread/x64/Debug/MultiThread.obj
MultiThread/x64/Debug/MultiThread.tlog/CL.command.1.tlog
MultiThread/x64/Debug/MultiThread.tlog/Cl.items.tlog
MultiThread/x64/Debug/MultiThread.tlog/CL.read.1.tlog
MultiThread/x64/Debug/MultiThread.tlog/CL.write.1.tlog
MultiThread/x64/Debug/MultiThread.tlog/link.command.1.tlog
MultiThread/x64/Debug/MultiThread.tlog/link.read.1.tlog
MultiThread/x64/Debug/MultiThread.tlog/link.secondary.1.tlog
MultiThread/x64/Debug/MultiThread.tlog/link.write.1.tlog
MultiThread/x64/Debug/MultiThread.tlog/MultiThread.lastbuildstate
MultiThread/x64/Debug/vc143.idb
MultiThread/x64/Debug/vc143.pdb
